
h1{
  position: absolute;
}
body{
  background-color: #ff1aff
}
.collab{
  background-color:  #ffe6ff;
  padding: 25px 30px 50px;
  text-align: center;

}

.brushbot{
  background-color:  #ffe6ff;
  padding: 25px 30px 50px;
  text-align: center;

}
.MicroBox{
  background-color:  #ffe6ff;
  padding: 25px 30px 50px;
  text-align: center;

}
.SerialUi{
  background-color:  #ffe6ff;
  padding: 25px 30px 50px;
  text-align: center;

}
.readings{
  background-color:  #ffe6ff;
  padding: 25px 30px 50px;
  text-align: center;

}
